bancos/mysql/*
bancos/postgresql/*
bancos/mongo/db/*
bancos/redis/db/*
!bancos/redis/db
!bancos/mongo/db
!bancos/mysql/Dockerfile
!bancos/postgresql/Dockerfile
.ash_history
sites/*
!sites/teste
!nginx/*.conf
apache/*
!apache/Dockerfile
!apache/sites-avaliable/

ngrok/configuracoes/ngrok.yml
.vscode
docker-compose.yml
.env





